#content-bar #about-us-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  height: 100vh;
  width: auto;
}

#content-bar #about-us-container #about-title-text {
  color: white;
  font-family: var(--font-bold);
  font-size: xx-large;
}

#content-bar #about-us-container #about-description-text {
  color: white;
  font-family: var(--font-regular);
  font-size: x-large;
}