* {
  box-sizing: border-box;
}

:root {
  --font-regular: "Courier-Prime";
  --font-bold: "Courier-Prime-Bold";
  --web-black: #231f20;
--web-black-semi: #231f20AA;
  --red-primary: #d11f2f;
  --red-secondary: #9f1b30;
  --white: #ffffff;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: normal;
  src: url(../resources/fonts/roboto/static/Roboto-Regular.ttf)
    format("TrueType");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: bold;
  src: url(../resources/fonts/roboto/static/Roboto-Bold.ttf) format("TrueType");
}

@font-face {
  font-family: "Roboto-Bolder";
  font-weight: bolder;
  src: url(../resources/fonts/roboto/static/Roboto-ExtraBold.ttf)
    format("TrueType");
}

@font-face {
  font-family: "Courier-Prime";
  font-weight: normal;
  src: url(../resources/fonts/courier_prime/CourierPrime-Regular.ttf)
    format("TrueType");
}

@font-face {
  font-family: "Courier-Prime-Bold";
  font-weight: bold;
  src: url(../resources/fonts/courier_prime/CourierPrime-Bold.ttf)
    format("TrueType");
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.inherit-width {
  width: inherit;
}

.inherit-height {
  height: inherit;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.red {
  color: var(--red-primary);
}

.white {
  color: var(--white);
}
