#home-bar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: var(--web-black-semi);
  padding: 6px;
  border-top: 0;
  border-bottom: 2px;
  border-style: solid;
  border-image: linear-gradient(90deg, transparent, white, white, transparent) 1;
  align-items: center;
  z-index: 10;
}

#home-bar #navigation-bar {
  justify-content: end;
}

#home-bar #navigation-bar .transparent-button {
  font-family: var(--font-bold);
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  background-color: transparent;
  border: none;
  margin-left: 4px;
  padding: 4px;
  min-width: 128px;
  max-width: 200px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--web-black);
  list-style: none;
  display: none;
  flex-direction: column;
  min-width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

.dropdown-menu li a {
  display: block;
  padding: 0.7rem 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background: #ffffff;
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}
