#root-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    overflow: scroll;
    position: relative;
}

#content-bar {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  align-content: center;
}